.divProyecto {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 300px;
  margin: 0 auto;
  background-color: #252525;
  border-radius: 8px;
  border: 1px solid rgba(111, 106, 106, 0.479);
}
.textosProyecto {
  background-color: #252525;
  width: 45%;
  margin-top: 20px;
  text-align: start;
  align-self: center;
}
.tituloProyecto {
  background-color: #252525;
  font-size: 25px;
  font-weight: 500;
  color: white;
}
.subtituloProyecto {
  font-size: 18px;
  background-color: #252525;
  color: rgb(171, 171, 171);
}
.imagenProyecto {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 50%;
}
.verBtn {
  padding: 5px 10px 5px 10px;
  width: max-content;
  border: 1px solid gray;
  background-color: transparent;
  color: white;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .divProyecto {
    height: 250px;
    width: 100%;
    margin: 0;
  }
  .subtituloProyecto {
    font-size: 10px;
  }
  .tituloProyecto {
    margin-bottom: 5px;
  }
}
