.divNombreNav {
  display: flex;
  flex-direction: column;
}
.subtituloNav {
  color: rgb(193, 193, 193);
  font-size: 12px;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.NavBar {
  display: flex;
  background-color: rgba(0, 0, 0, 0.885);
  justify-content: space-between;
}
.bi {
  margin: 0 10px 0 10px;
  height: 30px;
  width: 30px;
}
.divNombreNav .navbarBrand {
  color: white;
}
Nav .navLink {
  color: white;
}
.active {
  color: white !important;
}
Nav .navLink:hover {
  color: white;
  text-decoration: underline;
}
@media (min-width: 501px) and (max-width: 600px) {
  .bi {
    height: 20px;
    width: 20px;
  }
  .navbarBrand {
    color: white;
  }
  Nav .navLink {
    font-size: 12px;
  }
  .divNombreNav .navbarBrand {
    padding-bottom: 0;
    font-size: 15px;
  }
  .divNombreNav .subtituloNav {
    font-size: 10px;
  }
}
@media (max-width: 500px) {
  .bi {
    height: 15px;
    width: 15px;
  }
  Nav .navLink {
    font-size: 10px;
  }
  .divNombreNav .navbarBrand {
    padding-bottom: 0;
    font-size: 12px;
  }
  .divNombreNav .subtituloNav {
    font-size: 8px;
  }
}
