.divEducacion {
  margin-top: 200px;
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.tituloEducacion {
  color: white;
  margin-top: 400px;
  margin-bottom: 100px;
}
.linea {
  width: 3px;
  height: 100px;
  align-self: center;
  background-color: rgb(236, 236, 236);
}
